<h2>Editing content of <%= params[:file_name] %></h2>


<textarea rows="20" cols="100" name="file_content" form="edit_form">
<%= @content %></textarea>

<form action="/<%= params[:filename] %>" method="post" id="edit_form">
  <button type="submit">Save changes</button>
</form>

