<form action="/<%= @filename %>" method="post" id="edit_form">
  <label for="file_content">Edit content of <%= @filename %></label>
  <div>
    <textarea name="file_content" id="content" rows="20" cols="100"><%= @content %></textarea>
  </div>
  <button type="submit">Save changes</button>
</form>

